<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="css/animate.min.css">-->
    <link rel="stylesheet" href="css/paper-dashboard-pro.css">
    <link rel="stylesheet" href="css/styles.css">
    <!--<link rel="stylesheet" href="./main.css">-->
    <title>ANAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        /*html,*/
        /*body {*/
            /*height: 100%;*/
            /*width: 100%;*/
        /*}*/
        /** {*/
            /*padding: 0;*/
            /*margin: 0;*/
            /*box-sizing: border-box;*/
        /*}*/
    </style>
    <!--<script src="js/paper-dashboard.js"></script>-->
</head>
<body class="perfect-scrollbar-off">
<!-- ADDED THE .perfect-scrollbar-off TO ENABLE SCROLLING IN THE MENUBAR -->
</body>
